.SearchBox input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /* menu's position is absolute */
  float: "none";
}

#questionMark {
  vertical-align: middle;
  padding-bottom: 2px;
}

#questionMarkLink,
#questionMarkLink:hover,
#questionMarkLink:visited {
  color: inherit;
  text-decoration: none;
}
